<%= form_for([:admin, @product], :html => { :multipart => true } ) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Image Url</th>
        <th>Price</th>
        <th>Denomination(Gram)</th>
        <th>Discount</th>
        <th></th>
      </tr>
    </thead>


      <%= f.fields_for :product_denominations do |builder| %>
         <%= render "product_denomination_fields", :f => builder %>
      <% end %>


  </table>

  
  <p><%= link_to_add_association 'Add More', f, :product_denominations%></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
