<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Descirption</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.descirption %></td>
        <td><% product.product_denominations_fields.each do |l| %>
            <b>Image Url:</b> <%= l['image_url']%><br/>
            <b>Price:</b> <%= l['price']%><br/>
            <b>Denomination:</b> <%= l['denomination']%><br/>
            <b>Discount:</b> <%= l['discount']%><br/>
            <hr/>
            <%end%>

        </td>
        
        <td><%= link_to 'Show', [:admin, product] %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
        <td><%= link_to 'Destroy', [:admin, product], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_admin_product_path %>
